## Combining New York data from 2016 and 2017

In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
New_York17 = pd.read_csv('../downloads/sqf-2017.csv')

In [24]:
New_York17.head()

,STOP_FRISK_ID,STOP_FRISK_DATE,STOP_FRISK_TIME,YEAR2,MONTH2,DAY2,STOP_WAS_INITIATED,SPRINT_NUMBER,RECORD_STATUS_CODE,ISSUING_OFFICER_RANK,...,STOP_LOCATION_SECTOR_CODE,STOP_LOCATION_APARTMENT,STOP_LOCATION_FULL_ADDRESS,STOP_LOCATION_PREMISES_NAME,STOP_LOCATION_STREET_NAME,STOP_LOCATION_X,STOP_LOCATION_Y,STOP_LOCATION_ZIP_CODE,STOP_LOCATION_PATROL_BORO_NAME,STOP_LOCATION_BORO_NAME
0,1,1/16/2017,14:26:00,2017,January,Monday,Based on Self Initiated,11617924,APP,SGT,...,(null),(null),180 GREENWICH STREET,(null),GREENWICH STREET,982381,201750,(null),PBMS,MANHATTAN
1,2,1/16/2017,14:26:00,2017,January,Monday,Based on Self Initiated,11617924,APP,SGT,...,(null),(null),180 GREENWICH STREET,(null),GREENWICH STREET,982381,201750,(null),PBMS,MANHATTAN
2,3,2/8/2017,11:10:00,2017,February,Wednesday,Based on C/W on Scene,17020808555,APP,POM,...,C,(null),WALL STREET && BROADWAY,(null),WALL STREET,981005,197131,(null),PBMS,MANHATTAN
3,4,2/20/2017,11:35:00,2017,February,Monday,Based on Self Initiated,9027,APP,POM,...,H,(null),75 GREENE STREET,(null),GREENE STREET,984031,202796,(null),PBMS,MANHATTAN
4,5,2/21/2017,13:20:00,2017,February,Tuesday,Based on Radio Run,10439,APP,POM,...,H,2,429 WEST BROADWAY,(null),WEST BROADWAY,983894,203523,(null),PBMS,MANHATTAN

In [25]:
New_York17.columns

Index([u'STOP_FRISK_ID', u'STOP_FRISK_DATE', u'STOP_FRISK_TIME', u'YEAR2',
       u'MONTH2', u'DAY2', u'STOP_WAS_INITIATED', u'SPRINT_NUMBER',
       u'RECORD_STATUS_CODE', u'ISSUING_OFFICER_RANK',
       u'ISSUING_OFFICER_COMMAND_CODE', u'SUPERVISING_OFFICER_RANK',
       u'SUPERVISING_OFFICER_COMMAND_CODE',
       u'SUPERVISING_ACTION_CORRESPONDING_ACTIVITY_LOG_ENTRY_REVIEWED',
       u'LOCATION_IN_OUT_CODE', u'JURISDICTION_CODE',
       u'JURISDICTION_DESCRIPTION', u'OBSERVED_DURATION_MINUTES',
       u'SUSPECTED_CRIME_DESCRIPTION', u'STOP_DURATION_MINUTES',
       u'OFFICER_EXPLAINED_STOP_FLAG',
       u'OFFICER_NOT_EXPLAINED_STOP_DESCRIPTION', u'OTHER_PERSON_STOPPED_FLAG',
       u'SUSPECT_ARRESTED_FLAG', u'SUSPECT_ARREST_NUMBER',
       u'SUSPECT_ARREST_OFFENSE', u'SUMMONS_ISSUED_FLAG', u'SUMMONS_NUMBER',
       u'SUMMONS_OFFENSE_DESCRIPTION', u'OFFICER_IN_UNIFORM_FLAG',
       u'ID_CARD_IDENTIFIES_OFFICER_FLAG', u'SHIELD_IDENTIFIES_OFFICER_FLAG',
       u'VERBAL_IDENTIFIES_OFFICER_FLAG', u'FRISKED_FLAG', u'SEARCHED_FLAG',
       u'OTHER_CONTRABAND_FLAG', u'FIREARM_FLAG', u'KNIFE_CUTTER_FLAG',
       u'OTHER_WEAPON_FLAG', u'WEAPON_FOUND_FLAG', u'PHYSICAL_FORCE_CEW_FLAG',
       u'PHYSICAL_FORCE_DRAW_POINT_FIREARM_FLAG',
       u'PHYSICAL_FORCE_HANDCUFF_SUSPECT_FLAG',
       u'PHYSICAL_FORCE_OC_SPRAY_USED_FLAG', u'PHYSICAL_FORCE_OTHER_FLAG',
       u'PHYSICAL_FORCE_RESTRAINT_USED_FLAG',
       u'PHYSICAL_FORCE_VERBAL_INSTRUCTION_FLAG',
       u'PHYSICAL_FORCE_WEAPON_IMPACT_FLAG',
       u'BACKROUND_CIRCUMSTANCES_VIOLENT_CRIME_FLAG',
       u'BACKROUND_CIRCUMSTANCES_SUSPECT_KNOWN_TO_CARRY_WEAPON_FLAG',
       u'SUSPECTS_ACTIONS_CASING_FLAG',
       u'SUSPECTS_ACTIONS_CONCEALED_POSSESSION_WEAPON_FLAG',
       u'SUSPECTS_ACTIONS_DECRIPTION_FLAG',
       u'SUSPECTS_ACTIONS_DRUG_TRANSACTIONS_FLAG',
       u'SUSPECTS_ACTIONS_IDENTIFY_CRIME_PATTERN_FLAG',
       u'SUSPECTS_ACTIONS_LOOKOUT_FLAG', u'SUSPECTS_ACTIONS_OTHER_FLAG',
       u'SUSPECTS_ACTIONS_PROXIMITY_TO_SCENE_FLAG',
       u'SEARCH_BASIS_ADMISSION_FLAG', u'SEARCH_BASIS_CONSENT_FLAG',
       u'SEARCH_BASIS_HARD_OBJECT_FLAG',
       u'SEARCH_BASIS_INCIDENTAL_TO_ARREST_FLAG', u'SEARCH_BASIS_OTHER_FLAG',
       u'SEARCH_BASIS_OUTLINE_FLAG', u'DEMEANOR_CODE',
       u'DEMEANOR_OF_PERSON_STOPPED', u'SUSPECT_REPORTED_AGE', u'SUSPECT_SEX',
       u'SUSPECT_RACE_DESCRIPTION', u'SUSPECT_HEIGHT', u'SUSPECT_WEIGHT',
       u'SUSPECT_BODY_BUILD_TYPE', u'SUSPECT_EYE_COLOR', u'SUSPECT_HAIR_COLOR',
       u'SUSPECT_OTHER_DESCRIPTION', u'STOP_LOCATION_PRECINCT',
       u'STOP_LOCATION_SECTOR_CODE', u'STOP_LOCATION_APARTMENT',
       u'STOP_LOCATION_FULL_ADDRESS', u'STOP_LOCATION_PREMISES_NAME',
       u'STOP_LOCATION_STREET_NAME', u'STOP_LOCATION_X', u'STOP_LOCATION_Y',
       u'STOP_LOCATION_ZIP_CODE', u'STOP_LOCATION_PATROL_BORO_NAME',
       u'STOP_LOCATION_BORO_NAME'],
      dtype='object')

In [37]:
New_York17.replace(['FRISKED_FLAG','frisked'],['SUSPECT_RACE_DESCRIPTION','race'],['SUSPECTED_REPORTED_AGE','age'],['STOP_LOCATION_SECTOR_CODE','sector'])

SyntaxError: invalid syntax (<ipython-input-37-c145a59b7a55>, line 1)

In [26]:
New_York17[['FRISKED_FLAG','SUSPECT_ARRESTED_FLAG','SUSPECT_RACE_DESCRIPTION','SUSPECT_REPORTED_AGE','STOP_LOCATION_SECTOR_CODE']].head()

,FRISKED_FLAG,SUSPECT_ARRESTED_FLAG,SUSPECT_RACE_DESCRIPTION,SUSPECT_REPORTED_AGE,STOP_LOCATION_SECTOR_CODE
0,N,N,(null),39,(null)
1,N,N,(null),37,(null)
2,N,N,WHITE,(null),C
3,Y,N,BLACK HISPANIC,31,H
4,N,N,BLACK,(null),H

In [27]:
New_York17[['FRISKED_FLAG','SUSPECT_ARRESTED_FLAG','SUSPECT_RACE_DESCRIPTION','SUSPECT_REPORTED_AGE','STOP_LOCATION_SECTOR_CODE']].isnull()

,FRISKED_FLAG,SUSPECT_ARRESTED_FLAG,SUSPECT_RACE_DESCRIPTION,SUSPECT_REPORTED_AGE,STOP_LOCATION_SECTOR_CODE
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
5,False,False,False,False,False
6,False,False,False,False,False
7,False,False,False,False,False
8,False,False,False,False,False
9,False,False,False,False,False
10,False,False,False,False,False
11,False,False,False,False,False
12,False,False,False,False,False
13,False,False,False,False,False
14,False,False,False,False,False
15,False,False,False,False,False
16,False,False,False,False,False
17,False,False,False,False,False
18,False,False,False,False,False
19,False,False,False,False,False
20,False,False,False,False,False
21,False,False,False,False,False
22,False,False,False,False,False
23,False,False,False,False,False
24,False,False,False,False,False
25,False,False,False,False,False
26,False,False,False,False,False
27,False,False,False,False,False
28,False,False,False,False,False
29,False,False,False,False,False
...,...,...,...,...,...
11599,False,False,False,False,False
11600,False,False,False,False,False
11601,False,False,False,False,False
11602,False,False,False,False,False
11603,False,False,False,False,False
11604,False,False,False,False,False
11605,False,False,False,False,False
11606,False,False,False,False,False
11607,False,False,False,False,False
11608,False,False,False,False,False
11609,False,False,False,False,False
11610,False,False,False,False,False
11611,False,False,False,False,False
11612,False,False,False,False,False
11613,False,False,False,False,False
11614,False,False,False,False,False
11615,False,False,False,False,False
11616,False,False,False,False,False
11617,False,False,False,False,False
11618,False,False,False,False,False
11619,False,False,False,False,False
11620,False,False,False,False,False
11621,False,False,False,False,False
11622,False,False,False,False,False
11623,False,False,False,False,False
11624,False,False,False,False,False
11625,False,False,False,False,False
11626,False,False,False,False,False
11627,False,False,False,False,False
11628,False,False,False,False,False

In [33]:
# hue='universe' subsets the data by universe and creates a single plot.
sns.lmplot(x='race', y=count, data=New_York17, ci=None, hue='universe');

NameError: name 'count' is not defined

In [14]:
New_York16 = pd.read_csv('../downloads/sqf-2016.csv')

C:\Users\evers308\AppData\Local\Continuum\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,1,2,3,4,8,18,19,73,74,84,85,86,103,110,111) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
New_York16.head()

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,...,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypCM,lineCM,detailCM
0,2016,41,22,2072016,100,A,O,P,1,BURG,...,,41,B,2,,1013353,234000,CM,1,14
1,2016,10,22,2182016,30,1,O,P,8,MISDEMEANOR,...,,10,D,,,983478,212373,CM,1,28
2,2016,66,1,1012016,30,1,I,P,2,FEL,...,,66,F,,,988340,172111,CM,1,9
3,2016,47,18,1012016,40,1,O,H,1,FEL,...,,47,C,,,,,CM,1,20
4,2016,79,1,1012016,50,1,O,P,3,D.W.I.,...,,79,G,4,,998197,187413,CM,1,112

In [16]:
list(New_York16.columns)

['year',
 'pct',
 'ser_num',
 'datestop',
 'timestop',
 'recstat',
 'inout',
 'trhsloc',
 'perobs',
 'crimsusp',
 'perstop',
 'typeofid',
 'explnstp',
 'othpers',
 'arstmade',
 'arstoffn',
 'sumissue',
 'sumoffen',
 'compyear',
 'comppct',
 'offunif',
 'officrid',
 'frisked',
 'searched',
 'contrabn',
 'adtlrept',
 'pistol',
 'riflshot',
 'asltweap',
 'knifcuti',
 'machgun',
 'othrweap',
 'pf_hands',
 'pf_wall',
 'pf_grnd',
 'pf_drwep',
 'pf_ptwep',
 'pf_baton',
 'pf_hcuff',
 'pf_pepsp',
 'pf_other',
 'radio',
 'ac_rept',
 'ac_inves',
 'rf_vcrim',
 'rf_othsw',
 'ac_proxm',
 'rf_attir',
 'cs_objcs',
 'cs_descr',
 'cs_casng',
 'cs_lkout',
 'rf_vcact',
 'cs_cloth',
 'cs_drgtr',
 'ac_evasv',
 'ac_assoc',
 'cs_furtv',
 'rf_rfcmp',
 'ac_cgdir',
 'rf_verbl',
 'cs_vcrim',
 'cs_bulge',
 'cs_other',
 'ac_incid',
 'ac_time',
 'rf_knowl',
 'ac_stsnd',
 'ac_other',
 'sb_hdobj',
 'sb_outln',
 'sb_admis',
 'sb_other',
 'repcmd',
 'revcmd',
 'rf_furt',
 'rf_bulg',
 'offverb',
 'offshld',
 'forceuse',
 'sex',
 'race',
 'dob',
 'age',
 'ht_feet',
 'ht_inch',
 'weight',
 'haircolr',
 'eyecolor',
 'build',
 'othfeatr',
 'addrtyp',
 'rescode',
 'premtype',
 'premname',
 'addrnum',
 'stname',
 'stinter',
 'crossst',
 'aptnum',
 'city',
 'state',
 'zip',
 'addrpct',
 'sector',
 'beat',
 'post',
 'xcoord',
 'ycoord',
 'dettypCM',
 'lineCM',
 'detailCM']

In [17]:
New_York16['race'].unique()

array(['B', 'W', 'P', 'A', 'Q', 'U', 'Z', 'I', ' '], dtype=object)

In [19]:
New_York16[['frisked','race','age','sector']].isnull()

       frisked   race    age  sector
0        False  False  False   False
1        False  False  False   False
2        False  False  False   False
3        False  False  False   False
4        False  False  False   False
5        False  False  False   False
6        False  False  False   False
7        False  False  False   False
8        False  False  False   False
9        False  False  False   False
10       False  False  False   False
11       False  False  False   False
12       False  False  False   False
13       False  False  False   False
14       False  False  False   False
15       False  False  False   False
16       False  False  False   False
17       False  False  False   False
18       False  False  False   False
19       False  False  False   False
20       False  False  False   False
21       False  False  False   False
22       False  False  False   False
23       False  False  False   False
24       False  False  False   False
25       False  False  False   False
26       False  False  False   False
27       False  False  False   False
28       False  False  False   False
29       False  False  False   False
...        ...    ...    ...     ...
12375    False  False  False   False
12376    False  False  False   False
12377    False  False  False   False
12378    False  False  False   False
12379    False  False  False   False
12380    False  False  False   False
12381    False  False  False   False
12382    False  False  False   False
12383    False  False  False   False
12384    False  False  False   False
12385    False  False  False   False
12386    False  False  False   False
12387    False  False  False   False
12388    False  False  False   False
12389    False  False  False   False
12390    False  False  False   False
12391    False  False  False   False
12392    False  False  False   False
12393    False  False  False   False
12394    False  False  False   False
12395    False  False  False   False
12396    False  False  False   False
12397    False  False  False   False
12398    False  False  False   False
12399    False  False  False   False
12400    False  False  False   False
12401    False  False  False   False
12402    False  False  False   False
12403    False  False  False   False
12404    False  False  False   False

[12405 rows x 4 columns]

In [21]:
New_York16[['frisked','race','age','sector']].describe()

       frisked   race    age sector
count    12405  12405  12405  12405
unique       3      9     83     18
top          Y      B     20      B
freq      7939   6498    703   1988